<div>
    <h3>Known Good Roll</h3>
    <label for="footage">Feet:</label>
    <input type="number" [(ngModel)]="knownFootage" >
    <label for="poundage">Pounds:</label>
    <input type="number" [(ngModel)]="knownPoundage" >
</div>
    <h3>Roll In Question</h3>

<div>
<label>Feet:</label>
    <input type="number" [(ngModel)]="questionFootage" (keyup)="clearPoundage()" >
<label>Pounds:</label>
    <input type="number" [(ngModel)]="questionPoundage" (keyup)="clearFootage()">
</div>

<br><br>

<button (click)="calculate()">Calculate</button>
<button (click)="clearAll()">Clear</button>
<button (click)="help()">Help</button>

<br>

<div *ngIf="showAnswer">
    <h3>Your roll is {{ answer }}  {{ rollIs }}</h3>
</div>

<div *ngIf="showHelp">
    <h3>Help</h3>
    <p>Enter the 'Feet' and 'Pounds' of a known roll.</p>
    <p>Enter in either the 'Feet' or 'Pounds' of the roll you are trying to calculate</p>
    <p>Click Calculate</p>
</div>

<div *ngIf="showInvalid">
    <h3>Invalid Entry</h3>
</div>