<h3>Known Good Roll</h3>
<label for="footage">Footage:</label>
<input type="number" [(ngModel)]="knownFootage">
<label for="poundage">Poundage:</label>
<input type="number" [(ngModel)]="knownPoundage">

<h3>Roll In Question</h3>

<label>Footage:</label>
<input type="number" [(ngModel)]="questionFootage" (keyup)="clearPoundage()">
<label>Poundage:</label>
<input type="number" [(ngModel)]="questionPoundage" (keyup)="clearFootage()">

<br><br>

<button (click)="calculate()">Calculate</button>
<button>Clear</button>
<button>Help</button>

<div *ngIf="showAnswer">Text to show: {{ answer }}</div>